html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

form {
  display: none;
}

.img-fit {
  height: 250px;
  object-fit: cover;
}

#cars-radio:checked~#cars-form {
  display: block;
}

#jobs-radio:checked~#jobs-form {
  display: block;
}

#houses-radio:checked~#houses-form {
  display: block;
}