.flex-container {
  display: flex;
  justify-content: center;
}

.img-fit {
  height: 250px;
  object-fit: cover;
}

form {
  display: none;
}

#cars-radio:checked ~ .flex-container #cars-form {
  display: block;
}

#jobs-radio:checked ~ .flex-container #jobs-form {
  display: block;
}

#houses-radio:checked ~ .flex-container #houses-form {
  display: block;
}