.img-fit {
  height: 250px;
  object-fit: cover;
}

form {
  display: none;
}

#cars-radio:checked ~ #cars-form {
  display: block;
}

#jobs-radio:checked ~ #jobs-form {
  display: block;
}

#houses-radio:checked ~ #houses-form {
  display: block;
}